body {
    font: 13px Helvetica, Arial;
}
#player-info {
    position: absolute;
    right: 0;
    padding: 1.5rem;
}
#player-info .icon {
    border-radius: 50%;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 4px 2px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
}
#player-info .icon .fa, #player-info .icon .fab {
    font-size: 30px;
    line-height: 50px;
}
#player-info .name {
    text-align: center;
}
#info .icon {
    position: absolute;
    left: 0;
    padding: 1.5rem;
    font-size: 50px;
    cursor: pointer;
}
#info-modal .modal-body {
    max-height: 75vh;
    overflow-y: auto;
}
#info-modal .modal-body .bold-ol ol > li {
    font-weight: bold;
}
#info-modal .modal-body .bold-ol ol li ul > li {
    font-weight: normal;
}
.main {
    max-height: 100vh;
    padding: 2rem;
    text-align: center;
}
.icon-list {
    max-height: 60vh;
    overflow-y: auto;
    margin-bottom: 20px;
}
.large-fa-icon {
    font-size: 6rem;
    display: inline;
}
.large-fa-icon .fa, .large-fa-icon .fab {
    cursor: pointer;
    animation: hoverin-down 2s;
    transition: color .7s;
}
.large-fa-icon .fa.selected, .large-fa-icon .fab.selected {
    text-shadow: 0px 0px 20px rgb(134, 134, 134);
}
.color-picker {
    text-align: center;
    margin-top: 2rem;
}
.color-picker > span {
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
    animation: hoverin-left 1s;
}
.color-picker > span.selected {
    border: 2px solid black;
    box-shadow: 0px 0px 2px 1px black;
}
.color-picker > span ~ span, .btn ~ .btn {
    margin-left: 15px;
}
h3.Preflop {
    background-color: yellow;
    display: inline-block;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.table-cards {
    border-bottom: 2px dotted black;
    margin-bottom: 15px;
    display: inline-block;
}
.money-green {
    color: darkgreen;
}
#lobbies {
    padding-bottom: 2rem;
}
.lobby {
    text-align: center;
}
.lobby-user-details {
    font-size: 1.2rem;
}
.lobby-user-details p.fold {
    color:lightslategrey;
}
.lobby-user-details .player-seq .fa:nth-child(1) {
  animation: blinking-fast-1 1.5s;
  animation-iteration-count: infinite;
}
.lobby-user-details .player-seq .fa:nth-child(2) {
  animation: blinking-fast-2 1.5s;
  animation-iteration-count: infinite;
}
.lobby-user-details .player-seq .fa:nth-child(3) {
  animation: blinking-fast-3 1.5s;
  animation-iteration-count: infinite;
}
.modal-body span.seq {
    float: right;
}
.actions .btn {
    margin-top: 10px;
    margin-bottom: 10px;
}
.actions .btn ~ .btn {
    margin-left: 15px;
}
.history {
    margin-top: 25px;
}
#history-modal .modal-body {
    max-height: 600px;
    overflow-y: auto;
}
.modal-body .seq-selection, .modal-body .winner-selection, .modal-body .player-selection {
    text-align: center;
    padding: .75rem;
    border-radius: 10px;
    cursor: pointer;
}
.modal-body .seq-selection ~ .seq-selection, .modal-body .winner-selection ~ .winner-selection {
    margin-top: 10px;
}
.modal-body .seq-selection.selected, .modal-body .winner-selection.selected, .modal-body .player-selection.selected {
    background-color: lightskyblue;
}
.blinking {
  animation: blinking 2s;
  animation-iteration-count: infinite;
}
.fa.pointer {
    cursor: pointer;
}
#player-cards.hidden {
    background-color: rgb(191, 239, 255);
    font-size: 2rem;
}
#player-cards.hidden .poker-cards {
    display: none;
}
#player-cards.hidden::before {
    content: "Hidden ";
}
#player-cards.hidden::after {
    content: "SHCD";
    font-family: Cards LVMG;
}
.poker-cards {
    font-size: 7rem;
    display: inline-block;
}
.poker-cards.red {
    color: red;
}
.poker {
    display: inline-block;
}
.poker.S::after {
    font-family: Cards LVMG;
    content: "S";
    color: black;
    font-size: 1.8rem;
}
.poker.H::after {
    font-family: Cards LVMG;
    content: "H";
    color: red;
    font-size: 1.8rem;
}
.poker.C::after {
    font-family: Cards LVMG;
    content: "C";
    color: black;
    font-size: 1.8rem;
}
.poker.D::after {
    font-family: Cards LVMG;
    content: "D";
    color: red;
    font-size: 1.8rem;
}
@keyframes blinking {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes blinking-fast-1 {
    0% { opacity: 0; }
    33% { opacity: 1; }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes blinking-fast-2 {
    0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes blinking-fast-3 {
    0% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes hoverin-down {
    from { opacity: 0; transform: translate(0px, 30px); }
    to   { opacity: 1; }
}
@keyframes hoverin-left {
    from { opacity: 0; transform: translate(-15px, 0px); }
    to   { opacity: 1; }
}
@font-face {
    font-family: 'Cards LVMG';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../webfonts/fa-regular-400.eot");
    src: url("../webfonts/Cards-LVMG.woff2") format("woff2"), url("../webfonts/Cards-LVMG.woff") format("woff"), url("../webfonts/Cards-LVMG.ttf") format("truetype");
}